<ul class="list-group" >
  <li class="list-group-item" >
    <div class="col-sm-2"><strong>Bid: </strong></div>
    &nbsp;<%= creative.bid %>
  </li>
  <li class="list-group-item" >
    <div class="col-sm-2"><strong>Ad text: </strong></div>
    <%= creative.adtext %>
  </li>
</ul>