<ul class="list-group" >
  <li class="list-group-item" >
    <div class="col-sm-2"><strong>Places: </strong></div>
    &nbsp;<%= targeting.places %>
  </li>
  <li class="list-group-item" >
    <div class="col-sm-2"><strong>Gender: </strong></div>
    <%= targeting.gender %>
  </li>
</ul>
