<div class="nested-fields">
    <%= f.input :places %>
    <%= f.input :gender, collection: Targeting.genders.keys, selected: :undefined  %>
 <%= link_to_remove_association "remove targeting", f, :class=>"btn btn-danger" %>
 <hr/>
</div>
